.flex-banner {
  display: flex;
  justify-content: center;
  background-color: #4056A1;;
  background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");

  height: 410px;
  width: 100vw
}

.user-avator-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.avatar {
  height: 230px;
  width: auto;
}

.name {
  margin: 1px;
  color: white;
}



