header {
  padding-top: 6.5em; 
}

.flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: -3%
}

.avatar {
  height: 230px;
  width: auto;
}

.name {
  margin: 1px;
  color: white;
}

.bgImage {
  background-color: #A0522D;
  background-image: url("https://www.transparenttextures.com/patterns/tileable-wood-colored.png");
  height: 440px;
  width: auto
}