.text-box {
  outline: 0;
  border-width: 0 0 3px;
  background-color: transparent;
  width: 600px;
  resize: none;
  line-height: 0.95;
}

::placeholder {
  font-size: 80%;
  font-weight: 600;
}

.new-tweet {
  display: flex;
  flex-direction: column;
}

.flex-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tweet-button {
  width: 15%;
  font-size: 75%;
  font-family: 'Bungee', cursive;
  color: white;
  background-color: #4056A1;
}

.tweet-button:hover {
  color: #4056A1;
  background-color: white;
  border-color: #4056A1;
}

.tweet-counter {
  font-size: 85%;
  font-family: 'Bungee', cursive;
  color: #585858;
}

